doctype html
html lang="en-us"
  meta charset="utf-8" /
  title Companion Arts: About Us
  meta name="viewport" content="width=device-width, initial-scale=1" /
  meta name="Keywords" content="caregiver, caregiving, family caregiver, professional caregiver, caregiver support, caregiver resources" /
  meta name="Description" content="About Companion Arts: who we serve, our mission, our board of directors" /
  meta name="author" content="Leland Hoover" /
  link href="favicon.ico" rel=("shortcut icon") /
  link rel="stylesheet" href="css/w3.css" /
  link rel="stylesheet" href="css/w3-theme-grey.css" /
  link rel="stylesheet" href="css/main.css"/
  link href="css/font-awesome.min.css" rel="stylesheet" /
  link href="https://fonts.googleapis.com/css?family=Roboto|Cinzel" rel="stylesheet" type="text/css" /
  body
    /! Google Tag Manager
    noscript
      iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-4WKV" style="display:none;visibility:hidden" width="0"
    javascript:
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-4WKV');
    /! End Google Tag Manager
    header
      /! Navbar
      ul.w3-navbar.w3-theme.w3-top.w3-left-align.w3-large style="z-index:4;font-family:Cinzel;"
        li.w3-opennav.w3-right.w3-hide-large
          a.w3-hover-white.w3-large.w3-theme-l1 href="javascript:void(0)" onclick="w3_open()"
            i.fa.fa-bars
        li
          a.w3-theme-l1 href="index.html"  Companion Arts
        li.w3-hide-small
          a.w3-hover-white href="about.html"  About
        li.w3-hide-small
          a.w3-hover-white href="news.html"  News
        li.w3-hide-small
          a.w3-hover-white href="care-for-the-journey.html"  Care for the Journey
        li.w3-hide-small
          a.w3-hover-white href="resources.html"  Resources
        li.w3-hide-small
          a.w3-hover-white href="contact.html"  Contact
    /! Sidenav
    nav.w3-sidenav.w3-collapse.w3-theme-l5.w3-animate-left style="z-index:3;width:250px;margin-top:51px;"
      a.w3-right.w3-xlarge.w3-padding-large.w3-hover-black.w3-hide-large href="javascript:void(0)" onclick="w3_close()" title="close menu"
        i.fa.fa-remove
      h4
        b Menu
      a.w3-hover-black href="index.html"  Home
      a.w3-hover-black href="about.html"  About
      a.w3-hover-black href="#board"  > Board
      a.w3-hover-black href="#advisory-board"  > Advisory Board
      a.w3-hover-black href="#program-board"  > Program Board
      a.w3-hover-black href="news.html"  News
      a.w3-hover-black href="care-for-the-journey.html"  Care for the Journey
      a.w3-hover-black href="resources.html"  Resources
      a.w3-hover-black href="contact.html"  Contact
      a.w3-hover-black href="#signup"  Newsletter Sign Up
    /! Overlay effect when opening sidenav on small screens
    .w3-overlay.w3-hide-large onclick="w3_close()" style="cursor:pointer" title="close side menu"
    /! Main content: shift it to the right by 250 pixels when the sidenav is visible
    .w3-main style="margin-left:250px"
      .w3-row.w3-padding-64
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal id="about-us"
          h1.w3-text-teal About Companion Arts
          h2 Resources for Family and Professional Caregivers

          p
            | Companion Arts enhances the quality of life of family and professional caregivers by providing
            | innovative and evidence-based services, products, and resources. Our work with caregivers is based
            | on our values:
          ul
            li Compassion and well-being drive our mission to serve caregivers;
            li Creativity, innovation, and learning drive how we serve caregivers;
            li
              | Sustainability and a results-orientation drive our resource model and focus on measurably
              | improving caregivers' lives.
          p
            | Companion Arts, a 501 (c)(3) nonprofit organization, was co-founded in 2002 by Michael Stillwater
            | and Gary Malkin, creators of the acclaimed audio resource, Graceful Passages:  A Companion for Living
            | and Dying.
          p
            | Over the years Companion Arts has developed a number of customized programs for major healthcare
            | institutions and audio resources for professional caregivers (Care for the Journey, Vol. 1 &amp;
            | Vol 2, considered "new classics" in the field); we've also explored how music and messages have a
            | strong, positive affect on individual healing (Heart of Healing&trade;).
          p
            | This year we've regrouped to forge new perspectives on 1) cutting edge resources for caregivers
            | and 2) how the arts can be utilized for caregivers' benefit. Later this year these new ideas will
            | find rich expression in Care For The Journey&trade; programs and resources.
          p
            | Companion Arts also has an extraordinary Advisory Board as well as renown caregiving experts
            | advising the Care For the Journey program.
        .w3-third.w3-container
          img.imgfloatright alt="Lotus" src="images/lotus-1.jpg" width="250"
      .w3-row.w3-padding-64
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal id="board"
          h2 Board of Directors

          h3 Susan Osborne, President; Executive Director
          img.imgfloatleft alt=("Susan A. Osborne") src="images/susan-osborne-100.jpg"
          p
            strong Susan Osborne
            | has three decades of non-profit, business and entrepreneurial
            | experience.
          p
            | On the non-profit side, she has founded/funded/administrated five national organizations and been
            | retained as a 501(c)(3) organizational development consultant for numerous national/international
            | non-profits.
          p
            | On the business side, she has been the managing partner of an innovative Connecticut REIT;
            | president and incorporator of the first women's credit union in the Northeast; sales manager for
            | a New York residential/commercial real estate firm, and director of acquisitions and development
            | for the world's second largest independent foreign film distributor.  As an entrepreneur she has
            | developed, incorporated and capitalized three businesses:  Whistler's, a Catskills jazz club and
            | cabana; ScreenDeals, a 1980's venture fund for independent films; and EarthRise, a high-tech
            | business providing specialized computer software and technology to a major national hotel chain
            | in the early 1990's.
          p
            | In recent years Susan has served on several national/international boards, including Companion
            | Arts, Newfield Network, and the World Council of Elders and has also served on the national advisory
            | boards of Rocky Mountain Sustainable Enterprises, a developer of regional bio-fuel and food
            | supply-chain, and Wisdom of the World, a compendium of the world's wisdom.  Susan has been designated
            | a "Leading Light" by Stellar Connections, a premier women's business network.
      .w3-row.w3-padding-64
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal
          h3 Leland Hoover, Treasurer/Secretary; Chief Operating Officer
          img.imgfloatleft alt=("Leland G. Hoover") src="images/leland-hoover-100.jpg"
          p
            strong Leland G. Hoover
            | has three decades of high profile corporate and entrepreneurial
            | experience, including 12 years on the senior management team of  Fortune 100 companies
            | (United Telecommunications; Visa; First Data Corporation) and 28 years as an international
            | entrepreneur with extensive experience in India, UK, Australia and France. Areas of particular
            | corporate expertise include high-tech development, the banking and travel industries and scientific
            | data processing.
          p
            | Since 1995 Leland has also provided management consultation to over 70 clients through
            | Leland G. Hoover Consulting, Inc., specializing in strategic planning, fiscal management and
            | capitalization for both established companies and high profile entrepreneurs. He also serves as
            | the Chief Financial Officer for several small businesses, and has volunteered as lead counselor and
            | instructor for Colorado's high potential/serial entrepreneurs through the Small Business Development
            | Center (SBDC) in Boulder, CO.
          p
            | Leland is currently on the board of three non-profit organizations &mdash; Companion
            | Arts, Early Music Colorado, the Professional and Technical Consultants Association
            | (PATCA), and Olde Friends Concert Artists.  In recent years Leland served on the
            | international board of Alloy Solutions (New Delhi, India), and as a President of Toastmasters in Boulder, CO.
          p
            | Leland graduated summa cum laude from Regis University in Business Administration, received his
            | MBA summa cum laude from Regis and is currently working on a Ph.D. in Entrepreneurship.
      .w3-row.w3-padding-64
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal id="advisory-board"
          h2 Advisory Boards
          h3 International Advisory Board
          img.imgfloatright alt=("Michael Stillwater") height="50" src="images/michael-stillwater-100.jpg" width="40"
          p
            | Michael Stillwater, Co-Founder
            br
            | Song Without Borders
            br
            | Zurich, Switzerland
          br
          img.imgfloatright alt=("Gary Malkin") height="50" src="images/gary-malkin-1.jpg" width="41"
          p
            | Gary Malkin, Co-Founder
            br
            | Wisdom of the World
            br
            | Novato, California
          br
          p
            | Angeles Arrien, PhD
            br
            | President, Angeles Arrien Foundation for Cross-Cultural Education and Research
            br
            | Sausalito, California
          p
            | Joan Borysenko, PhD
            br
            | Founder, Mind-Body Health Sciences, LLC.
            br
            | Boulder, Colorado
          p
            | Ken Druck, PhD
            br
            | Executive Director, Jenna Druck Foundation
            br
            | San Diego, California
          p
            | Jeremy Geffen, MD
            br
            | Founder, Geffen Cancer Foundation
            br
            | Boulder, Colorado
          p
            | Bethany Hays, MD
            br
            | Medical Director, True North Clinic
            br
            | Yarmouth, Maine
          p
            | David Lieberstein
            br
            | Founder, Wine Things Unlmited
            br
            | Sonoma, California
          p
            | Robert D. McNeice
            br
            | President, Insight Rising
            br
            | Pittsburgh, Pennsylvania
          p
            | Christina Puchalski, MD
            br
            | Founder, Director, George Washington Institute for Spirituality and Health
            br
            | Washington, D.C.
          p
            | Kathleen Dowling Singh, PhD
            br
            | Author, Grace In Dying
            br
            | Orlando, Florida
          p
            | Doris Laesser Stillwater
            br
            | Psychologist
            br
            | Zurich, Switzerland
          p
            | Archbishop Desmond Tutu
            br
            | General Secretary, The South African Council of Churches
            br
            | Johannesburg, South Africa
      .w3-row.w3-padding-64
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal id="program-board"
          h3 Program Advisory Board

          p
            | Robert Arnold, PhD
            br
            | Director of Education, Hospice of the Florida Sun Coast
            br
            | Tampa, Florida
          p
            | Randy Carter
            br
            | VP, Organizational Development &amp; Strategy Planetree
            br
            | Danbury, Connecticutt
          p
            | Elizabeth A Denton, PhD
            br
            | Organizational psychologist; author
            br
            | Crossville, Tennassee
          p
            | Marita Grudzen, PhD
            br
            | Stanford University Medical Center
            br
            | Palo Alto, California
          p
            | Tom Harrington, PhD
            br
            | Consultant to Healthcare Leadership
            br
            | San Anselmo, California
          p
            | Rev. Maria Dancing Heart Hoaglund
            br
            | Author, UCC minister, end-of-life counselor
            br
            | Sedona, Arizona
          p
            | Bobbi Ingram RN, PhD
            br
            | Salt Lake City, Utah
          p
            | Marilynn Jackson, PhD, MA, BSN
            br
            | President, Intuitive Options
            br
            | Soldotna, Alaska
          p
            | Tom Lant, RN, PhD
            br
            | Founder/Director, Spirit of Caregiving
            br
            | Bryson City, North Carolina
          p
            | Lynn Rogers,PhD
            br
            | Consultant to Healthcare &amp; Hospice
            br
            | San Rafael, California
          p
            | Hanna B. Sherman, MD
            br
            | Director, Physician Well-Being and Professional Renewal Courses Chair, American Academy on Physician
            | and Patient
            br
            | Lexington, Massachuesetts
          p
            | Patricia Yock, BSN
            br
            | Nursing Educator and Consultant
            br
            | Boulder, Colorado
          p
            | Jean Watson, RN, PhD
            br
            | Distinguished Professor of Nursing
            br
            | University of Colorado Health Sciences Center
            br
            | Boulder, Colorado
        #signup.w3-third.w3-container
          .w3-card-4.box1
            h3
              | Sign up for our
              a< href="http://eepurl.com/bvGpK5"
                em NewsFlash
            p Safe, secure, easy opt-out
      footer#myFooter
        .w3-container.w3-theme-l1
          p Copyright &copy; Companion Arts 2016. Companion Arts&trade; and Care for the Journey&trade; are trademarks of Companion Arts.
          p Companion Arts is a 501(c)(3) nonprofit dedicated to helping family and professional caregivers.
    /! END MAIN
    /! Script to open and close the sidenav
    javascript:
      (function w3_open() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
        document.getElementsByClassName("w3-overlay")[0].style.display = "block";
      })
      (function w3_closesli() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
        document.getElementsByClassName("w3-overlay")[0].style.display = "none";
      });
