doctype html
html lang="en-us"
  meta charset="utf-8" /
  title Companion Arts: Resources for family and professional caregivers
  meta name="viewport" content="width=device-width, initial-scale=1" /
  meta name="Keywords" content="caregiver, caregiving, family caregiver, professional caregiver, caregiver support, caregiver resources" /
  meta name="Description" content="Companion Arts audio CDs, books and workshops for the professional and family caregiver" /
  meta name="google-site-verification" content="RhnR8z0dOcEnI5LEVtClfzTnRJ7PR6SDbnWRDSQJOAo" /
  meta name="google-site-verification" content="MwnM1OhJGiHqZCPZnnrD0Y25BsmMYOHa7ETPKuxr5sI" /
  meta name="author" content="Leland Hoover" /
  link href="favicon.ico" rel="shortcut icon" /
  link rel="stylesheet" href="css/w3.css" /
  link rel="stylesheet" href="css/w3-theme-grey.css" /
  link rel="stylesheet" href="css/main.css"/
  link href="css/font-awesome.min.css" rel="stylesheet" /
  link href="https://fonts.googleapis.com/css?family=Roboto|Cinzel" rel="stylesheet" type="text/css" /
  body
    /! Google Tag Manager
    noscript
      iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-4WKV" style="display:none;visibility:hidden" width="0"
    javascript:
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-4WKV');
    /! End Google Tag Manager
    header
      /! Navbar
      ul.w3-navbar.w3-theme.w3-top.w3-left-align.w3-large style="z-index:4;font-family:Cinzel;"
        li.w3-opennav.w3-right.w3-hide-large
          a.w3-hover-white.w3-large.w3-theme-l1 href="javascript:void(0)" onclick="w3_open()"
            i.fa.fa-bars
        li
          a.w3-theme-l1 href="index.html"  Companion Arts
        li.w3-hide-small
          a.w3-hover-white href="about.html"  About
        li.w3-hide-small
          a.w3-hover-white href="news.html"  News
        li.w3-hide-small
          a.w3-hover-white href="care-for-the-journey.html"  Care for the Journey
        li.w3-hide-small
          a.w3-hover-white href="resources.html"  Resources
        li.w3-hide-small
          a.w3-hover-white href="contact.html"  Contact
    /! Sidenav
    nav.w3-sidenav.w3-collapse.w3-theme-l5.w3-animate-left style="z-index:3;width:250px;margin-top:51px;"
      a.w3-right.w3-xlarge.w3-padding-large.w3-hover-black.w3-hide-large href="javascript:void(0)" onclick="w3_close()" title="close menu"
        i.fa.fa-remove
      h4
        b Menu
      a.w3-hover-black href="index.html"  Home
      a.w3-hover-black href="about.html"  About
      a.w3-hover-black href="news.html"  News
      a.w3-hover-black href="care-for-the-journey.html"  Care for the Journey
      a.w3-hover-black href="testimonials.html"  > Testimonials
      a.w3-hover-black href="reviews.html"  > Reviews
      a.w3-hover-black href="speakers.html"  > Speakers
      a.w3-hover-black href="resources.html"  Resources
      a.w3-hover-black href="contact.html"  Contact
      a.w3-hover-black href="#signup"  Newsletter Sign Up
    /! Overlay effect when opening sidenav on small screens
    .w3-overlay.w3-hide-large onclick="w3_close()" style="cursor:pointer" title="close side menu"
    /! Main content: shift it to the right by 250 pixels when the sidenav is visible
    .w3-main style="margin-left:250px"
      .w3-row.w3-padding-64
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal
          h1.w3-text-teal Companion Arts
          h2 Resources for Family and Professional Caregivers
          p: b Welcome to Companion Arts!
          p
            | We're a national non-profit organization providing Caregivers with innovative new resources,
            | programs and products.
          p
            | This year we're developing unique new programs and resources for
            b<> unpaid family caregivers
            | (now 1 in 5 people in the US!) and
            b<> professional caregivers
            | (doctors, nurses, counselors, and allied healing professionals). Subscribe to our free monthly
            a<> href="#signup"
              em Care For The Journey NewsFlash
            | and you'll receive the latest
            | caregiver news and resources. We look forward to traveling down this new road with you!
        .w3-third.w3-container
          h2 Featured Resources
          p Explore our acclaimed products
          h4 For Healthcare Professionals
          .w3-card-4.polaroid style="max-width:180px"
            img alt="Care for the Journey, Vol. 1" src="images/care-for-the-journey-1-180.jpg"
            .container.w3-padding-tiny
              p Care For The Journey, Vol.1
      .w3-row
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal
          h1.w3-text-teal Caregiver Statistics
          p
            | A staggering 43.5 million people provided unpaid caregiving in the US with an estimated economic
            | value of $470 billion, according to recent studies. Women comprise more than 75% of caregivers
            | although the number of men providing caregiving is increasing.
            | If you want more startling facts about caregivers, check out the details at
            a<> href="https://www.caregiver.org/caregiver-statistics-demographics" Caregiver Demographics
            | a resource compiled by the Family Caregiver Alliance.
        .w3-third.w3-container
          h4 For Healthcare Professionals
          .w3-card-4.polaroid style="max-width:180px"
            img alt="Care for the Journey, Vol. 2" src="images/care-for-the-journey-2-180.jpg"
            .container.w3-padding-tiny
              p Care For The Journey, Vol.2
      .w3-row.w3-padding-64
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal
          h1.w3-text-teal Heading
          p
            | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum
            | dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        .w3-third.w3-container
          h4 For Family Caregivers
          .w3-card-4.polaroid style="max-width:180px"
            img alt="Heart of Healing" src="images/heart-of-healing-180.jpg" style="width:100%"
            .container.w3-padding-tiny
              p Heart of Healing
      .w3-row.w3-padding-32
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal
          h1.w3-text-teal Care for the Journey
          h3 For Professional Caregivers
          iframe allowfullscreen="" src="https://www.youtube.com/embed/Wyk19XHjjfs?rel=0" width="320"
          h4
            | Christina Puchalski, MD on
            em< Care for the Journey
          p
            | Developed with a national advisory group of renowned healthcare leaders, our acclaimed
            a<> href="#"
              em Care For The Journey
            | audio resources are an essential
            | for every healthcare professional. These inspiring, experiential CDs integrate professional
            | caregivers' everyday practice with their overall mission of compassionate service -- a feat
            | beautifully accomplished by combining Gary Malkin's award-winning music with the spoken wisdom
            | of
            a<> href="#" healthcare and world thought leaders
            | Angeles Arrien, PhD; Joan Borysenko, PhD; Ira Byock, MD; Jeremy Geffen MD; Naomi Judd, RN;
            | Tom Lant, PhD, RN; Christiane Northrup, MD; Christina Puchalski, MD; Rachel Naomi Remen, MD;
            | CA Co-Founder Michael Stillwater, Desmond Tutu, and Jean Watson, PhD, RN.
          p
            em> Care For The Journey
            | audio tools are used by 100+ major healthcare institutions
            | throughout the country for training (see
            a<> href="#" reviews
            | and
            a<> href="#" testimonials
            | ) and by 15,000+ individual professional caregivers.
        #signup.w3-third.w3-container
          .w3-card-4.box1
            h3
              | Sign up for our
              a< href="http://eepurl.com/bvGpK5"
                em NewsFlash
            p Safe, secure, easy opt-out
      footer#myFooter
        .w3-container.w3-theme-l1
          p Copyright &copy; Companion Arts 2016. Companion Arts&trade; and Care for the Journey&trade; are trademarks of Companion Arts.
          p Companion Arts is a 501(c)(3) nonprofit dedicated to helping family and professional caregivers.
    /! END MAIN
    /! Script to open and close the sidenav
    javascript:
      (function w3_open() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
        document.getElementsByClassName("w3-overlay")[0].style.display = "block";
      })
      (function w3_closesli() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
        document.getElementsByClassName("w3-overlay")[0].style.display = "none";
      });
