doctype html
html lang="en-us"
  meta charset="utf-8" /
  title Companion Arts: Products
  meta name="viewport" content="width=device-width, initial-scale=1" /
  meta name="Keywords" content="caregiver, caregiving, family caregiver, professional caregiver, caregiver support, caregiver resources" /
  meta name="Description" content="Companion Arts audio CDs, books and workshops for the professional and family caregiver" /
  meta name="google-site-verification" content="RhnR8z0dOcEnI5LEVtClfzTnRJ7PR6SDbnWRDSQJOAo" /
  meta name="google-site-verification" content="MwnM1OhJGiHqZCPZnnrD0Y25BsmMYOHa7ETPKuxr5sI" /
  meta name="author" content="Leland Hoover" /
  link href="favicon.ico" rel="shortcut icon" /
  link rel="stylesheet" href="css/w3.css" /
  link rel="stylesheet" href="css/w3-theme-grey.css" /
  link rel="stylesheet" href="css/main.css"/
  link href="css/font-awesome.min.css" rel="stylesheet" /
  link href="https://fonts.googleapis.com/css?family=Roboto|Cinzel" rel="stylesheet" type="text/css" /
  body
    /! Google Tag Manager
    noscript
      iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-4WKV" style="display:none;visibility:hidden" width="0"
    javascript:
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-4WKV');
    /! End Google Tag Manager
    header
      /! Navbar
      ul.w3-navbar.w3-theme.w3-top.w3-left-align.w3-large style="z-index:4;font-family:Cinzel;"
        li.w3-opennav.w3-right.w3-hide-large
          a.w3-hover-white.w3-large.w3-theme-l1 href="javascript:void(0)" onclick="w3_open()"
            i.fa.fa-bars
        li
          a.w3-theme-l1 href="index.html"  Companion Arts
        li.w3-hide-small
          a.w3-hover-white href="about.html"  About
        li.w3-hide-small
          a.w3-hover-white href="news.html"  News
        li.w3-hide-small
          a.w3-hover-white href="testimonials.html"  Care for the Journey
        li.w3-hide-small
          a.w3-hover-white href="resources.html"  Resources
        li.w3-hide-small
          a.w3-hover-white href="contact.html"  Contact
    /! Sidenav
    nav.w3-sidenav.w3-collapse.w3-theme-l5.w3-animate-left style="z-index:3;width:250px;margin-top:51px;"
      a.w3-right.w3-xlarge.w3-padding-large.w3-hover-black.w3-hide-large href="javascript:void(0)" onclick="w3_close()" title="close menu"
        i.fa.fa-remove
      h4
        b Menu
      a.w3-hover-black href="index.html"  Home
      a.w3-hover-black href="about.html"  About
      a.w3-hover-black href="news.html"  News
      a.w3-hover-black href="testimonials.html"  Care for the Journey
      a.w3-hover-black href="resources.html"  Resources
      a.w3-hover-black href="#cfj-1"  >Care for the Journey, Vol. 1
      a.w3-hover-black href="#cfj-2"  >Care for the Journey, Vol. 2
      a.w3-hover-black href="#hoh"  >Heart of Healing
      a.w3-hover-black href="contact.html"  Contact
      a.w3-hover-black href="#signup"  Newsletter Sign Up
    /! Overlay effect when opening sidenav on small screens
    .w3-overlay.w3-hide-large onclick="w3_close()" style="cursor:pointer" title="close side menu"
    /! Main content: shift it to the right by 250 pixels when the sidenav is visible
    .w3-main style="margin-left:250px"
      .w3-row.w3-padding-64
        .w3-twothird.w3-container.w3-border-bottom.w3-hover-border-teal
          h1.w3-text-teal Companion Arts
          p
            | Our acclaimed audio resources and books introduce healthcare practitioners, patients, and family
            | caregivers to the wisdom of leading experts in medicine, spirituality and psychology.
        .w3-third.w3-container
          special-order.box1
            h2 Special Orders
            p
              | For quantity pricing and purchase orders, contact us at
              br
              |(303) 772-1464.
      .w3-row.w3-padding-64
        #cfj-1.w3-third.w3-container
          figure
            a href="http://www.amazon.com/gp/product/B000FTBGUE"
              img alt="Care for the Journey, Volume 1 cover" src="images/care-for-the-journey-1-180.jpg"
            figcaption
              i Care for the Journey: Volume 1
              br
              | Michael Stillwater and Gary Malkin

          p
            strong
              em
                a> href="http://www.amazon.com/gp/product/B000FTBGUE"  Care for the Journey, Volume 1
            | has been called &quot;a new classic in the field of integrative medicine&quot; and
            | &quot; a primary resource for health professionals&quot;. Utilized by leading hospitals and hospices throughout the United States,
            em<> Care For The Journey
            | is an educational audio resource speaking eloquently to the roots of healthcare professionals' emotional, mental and spiritual stress through inspiring, innovative and practical teachings from noted leaders, including:
            strong<> Angeles Arrien, PhD; Joan Borysenko, PhD; Ira Byock, MD; Jeremy Geffen, MD;
            | singer/ healthcare advocate
            strong<> Naomi Judd, RN; Tom Lant, PhD, RN; Christiane Northrup, MD;
              | Christina Puchalski, MD; Rachel Naomi Remen, MD; Jean Watson, PhD, RN;
              | Archbishop Desmond Tutu
            | and
            strong< Michael Stillwater.
            em<> Care for the Journey, Volume 1
            | features a film-score quality soundtrack by Emmy Award winner
            strong<> Gary Malkin
            | and makes a beautiful, inspirational and helpful gift for the healthcare professional in your life.
          ul
            li 49 minutes; jewel-box CD.
            li 11 tracks
            li
              | More about the
              a< href="speakers.html"  Speakers
            li For the professional caregiver
            li
              a< href="reviews.html"  Reviews
            li A publication
            li
              | Brochure for Volume 1
              a<> href="assets/cfj-1-onepager.pdf" (PDF)
            li
              a> href="speakers.html#cfj-video"  Video trailer
              | for the
              em<> Care for the Journey
              | series
            li
              a> href="assets/cfj-1-track-1.mp3"  Audio sample
              | from
              em< Care for the Journey, Vol. 1 CD
        #cfj-2.w3-third.w3-container
          figure
            a href="http://www.amazon.com/gp/product/B003ZWL4JQ"
            img alt="Care for the Journey, Volume 2" src="images/care-for-the-journey-2-180.jpg"
            figcaption
              i Care for the Journey: Volume 2
              br
              | Michael Stillwater and Gary Malkin

          p
            strong
              em
                a> href="http://www.amazon.com/gp/product/B003ZWL4JQ" Care For the Journey, Volume 2
            | is Companion Arts' newest audio resource.  Given the widespread success of the
            | first volume, Volume 2 lives up to high expectations as it provides rich daily insights and
            | practical wisdom in easily-assimilated, musically-enriched moments. Like its predecessor, Volume 2
            | is both a source of inspiration and a quick, easily-assessable remedy for the stress of
            | an unusually hectic workday. Acclaimed healthcare speakers and other leaders provide spoken messages
            | amidst a wonderful musical backdrop provided by
            strong<> Gary Malkin
            | a multiple Emmy Award winner. Speakers include:
            strong<> Angeles Arrien, PhD; Joan Borysenko, PhD; Ira Byock, MD; Jeremy Geffen, MD;
              | Richard Moss, MD; Christiane Northrup, MD; Christina Puchalski, MD;
              | Rachel Naomi Remen, MD; Jean Watson, PhD, RN
            | and
            strong< Michael Stillwater.
            em<> Care for the Journey: The Learning Edition
            | is an exceptional gift for healthcare and healing professionals.
          ul
            li 65 minutes; digipack CD.
            li 9 tracks
            li
              | More about the
              a< href="speakers.html"  Speakers
            li
              a href="reviews.html"  Reviews
            li For the professional caregiver
            li A Companion Arts publication
            li
              | Brochure for Volume 2
              a<> href="assets/cfj-2-onepager.pdf" (PDF)
              em New!
            li
              a> href="care-for-the-journey-speakers.html#cfj-video"  Video trailer
              | for the
              em<> Care for the Journey
              | series
            li
              a> href="assets/cfj-2-track-2.mp3"  Audio sample
              | from
              em< Care for the Journey, Vol. 2 CD
        #hoh.w3-third.w3-container
          figure
            a href="http://www.amazon.com/gp/product/B003ZWBU86"
              img alt="Heart of Healing Cover" src="images/heart-of-healing-180.jpg"
            figcaption
              i Heart of Healing: Messages and Music for the Heart of Healing
              br
              | Michael Stillwater and Gary Malkin

          p
            strong
              em
                a> href="http://www.amazon.com/gp/product/B003ZWBU86"  Heart of Healing
            | is an extraordinary audio resource for anyone on a healing path &mdash; health professionals,
            | patients, caregivers, family and volunteers. This acclaimed CD features wonderful, helpful tracks from
            | the award-winning
            em<> Care For the Journey
            | and
            em<> Graceful Passages
            | as well as voices of healing wisdom &mdash;
            strong<> Rachel Naomi Remen, MD; Ira Byock, MD; Marianne Williamson; Thich Nhat Hanh
            | and others.
            em<> Heart of Healing
            | is scored with original music by Emmy Award-winning film composer
            strong<> Gary Malkin.
          ul
            li 67 minutes; jewel-box CD.
            li 14 tracks
            li
              | More about the
              a< href="speakers.html" Speakers
            li For the professional caregiver
            li A Companion Arts publication

        #signup.w3-third.w3-container
          .w3-card-4.box1
            h3
              | Sign up for our
              a< href="http://eepurl.com/bvGpK5"
                em NewsFlash
            p Safe, secure, easy opt-out
      footer#myFooter
        .w3-container.w3-theme-l1
          p Copyright &copy; Companion Arts 2016. Companion Arts&trade; and Care for the Journey&trade; are trademarks of Companion Arts.
          p Companion Arts is a 501(c)(3) nonprofit dedicated to helping family and professional caregivers.
    /! END MAIN
    /! Script to open and close the sidenav
    javascript:
      (function w3_open() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
        document.getElementsByClassName("w3-overlay")[0].style.display = "block";
      })
      (function w3_closesli() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
        document.getElementsByClassName("w3-overlay")[0].style.display = "none";
      });
