doctype html
html lang="en-us"
  meta charset="utf-8" /
  title Reviews of Care for the Journey at Companion Arts
  meta name="viewport" content="width=device-width, initial-scale=1" /
  meta name="Keywords" content="caregiver, caregiving, family caregiver, professional caregiver,caregiver support, caregiver resources, caregiver burnout, caregiver stress, Care for the Journey, Companion Arts, Michael Stillwater, Gary Malkin" /
  meta name="Description" content="Reviews of Care for the Journey, audio CDs for the professional\nand family caregiver by Michael Stillwater and Emmy award winning musician Gary Malkin" /
  meta name="google-site-verification" content="RhnR8z0dOcEnI5LEVtClfzTnRJ7PR6SDbnWRDSQJOAo" /
  meta name="google-site-verification" content="MwnM1OhJGiHqZCPZnnrD0Y25BsmMYOHa7ETPKuxr5sI" /
  meta name="author" content="Leland Hoover" /
  link rel="shortcut icon" href="favicon.ico" /
  link rel="stylesheet" href="css/w3.css" /
  link rel="stylesheet" href="css/w3-theme-grey.css" /
  link rel="stylesheet" href="css/main.css"/
  link rel="stylesheet" href="css/font-awesome.min.css" /
  link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto|Cinzel" /
  body
    /! Google Tag Manager
    noscript
      iframe height="0" src="//www.googletagmanager.com/ns.html?id=GTM-4WKV" style="display:none;visibility:hidden" width="0"
    javascript:
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-4WKV');
    /! End Google Tag Manager
    header
      /! Navbar
      ul.w3-navbar.w3-theme.w3-top.w3-left-align.w3-large style="z-index:4;font-family:Cinzel;"
        li.w3-opennav.w3-right.w3-hide-large
          a.w3-hover-white.w3-large.w3-theme-l1 href="javascript:void(0)" onclick="w3_open()"
            i.fa.fa-bars
        li
          a.w3-theme-l1 href="index.html"  Companion Arts
        li.w3-hide-small
          a.w3-hover-white href="about.html"  About
        li.w3-hide-small
          a.w3-hover-white href="news.html"  News
        li.w3-hide-small
          a.w3-hover-white href="testimonials.html"  Care for the Journey
        li.w3-hide-small
          a.w3-hover-white href="resources.html"  Resources
        li.w3-hide-small
          a.w3-hover-white href="contact.html"  Contact

    /! Sidenav
    nav.w3-sidenav.w3-collapse.w3-theme-l5.w3-animate-left style="z-index:3;width:250px;margin-top:51px;"
      a.w3-right.w3-xlarge.w3-padding-large.w3-hover-black.w3-hide-large href="javascript:void(0)" onclick="w3_close()" title=("close menu")
        i.fa.fa-remove
      h4
        b Menu
      a.w3-hover-black href="index.html"  Home
      a.w3-hover-black href="about.html"  About
      a.w3-hover-black href="news.html"  News
      a.w3-hover-black href="testimonials.html"  Care for the Journey
      a.w3-hover-black href="testimonials.html"  > Testimonials
      a.w3-hover-black href="reviews.html"  > Reviews
      a.w3-hover-black href="speakers.html"  > Speakers
      a.w3-hover-black href="resources.html"  Resources
      a.w3-hover-black href="contact.html"  Contact
      a.w3-hover-black href="#signup"  Newsletter Sign Up
    /! Overlay effect when opening sidenav on small screens
    .w3-overlay.w3-hide-large onclick="w3_close()" style="cursor:pointer" title=("close side menu")
    /! Main content: shift it to the right by 250 pixels when the sidenav is visible
    .w3-main style="margin-left:250px"
      .w3-row.w3-padding-64
        .w3-twothird.w3-container
          h1.w3-text-teal
            | Reviews of
            i Care for the Journey
          h2 Review
          .w3-card-4.box2
            p.ital
              | Imagine in the midst of a hectic day being able to retreat to a quiet place for a
              | few minutes of nurturing words from healing leaders such as Jean Watson, Rachel Naomi Remen,
              | Christina Puchalski, Desmond Tutu, Christiane Northrup, Angeles Arrien, Joan Borysenko, Naomi Judd,
              | Tom Lant, Jeremy Geffen, or Ira Byock. This CD makes that vision a reality with a collection of short
              | reflective messages spoken against the backdrop of restful music. 'Care for the Journey' is a wonderful
              | distillation of the teachings of these special individuals that can help healthcare workers reconnect
              | with their reason for entering this field.
            p style="text-align: right"
              b Charlotte Eliopoulos
              br
              i<> Beginnings Magazine
              br
              | American Holistic Nurses Association
        .w3-third.w3-container
          h2 Featured Resources
          p Explore our acclaimed products
          h4 For Healthcare Professionals
          .w3-card-4.polaroid style="max-width:180px"
            img alt="Care for the Journey, Vol. 1" src="images/care-for-the-journey-1-180.jpg"
            .container.w3-padding-tiny
              p Care For The Journey, Vol.1
      .w3-row
        .w3-twothird.w3-container
          h2 Review
          .w3-card-4.box2
            p.ital
              | 'Care for the Journey' is a wonderful compilation of music with inspiring and
              | insightful messages for the practicing health care professional. It acknowledges the stresses under
              | which we work and takes us a step back to the real meaning of healing and caring, which includes the
              | emotional and spiritual dimensions of both patient and practitioner; it accepts death as the natural
              | end of life.
            p.ital
              | This CD would be a useful resource for any health care practitioner, but I think
              | it will be particularly valuable for anybody who works in palliative care. If you are feeling in any
              | way stressed, or wondering about the meaning and value of your work, you need to listen to
              | 'Care for the Journey.' Highly recommended.
            p style="text-align: right"
              b Joe Tye
              br
              | Author:
              em<> Never Fear, Never Quit
              | and
              em<> The Healing Tree
        .w3-third.w3-container
          h4 For Healthcare Professionals
          .w3-card-4.polaroid style="max-width:180px"
            img alt="Care for the Journey, Vol. 2" src="images/care-for-the-journey-2-180.jpg"
            .container.w3-padding-tiny
              p Care For The Journey, Vol.2
      .w3-row.w3-padding-64
        .w3-twothird.w3-container
          h2 Review
          .w3-card-4.box2
            p.ital
              | 'Care for the Journey' is a montage of wisdom that will inspire and comfort anyone
              | who is navigating the seas of health and illness. These contributions, from some of the wisest healers
              | in the world, brim with compassion, hope, and understanding. The realization that permeates these
              | messages is the core spiritual message that is so urgently needed in our time.
            p style="text-align: right"
              b Barbara Dossey, RN, PhD, HNC, FAAN
              br
              | Author:
              em<> Florence Nightingale: Mystic, Visionary, Healer; Profiles of Nurse Healers;
                | Holistic Nursing: A Handbook for Practice; Rituals of Healing
            p style="text-align: right"
              b Larry Dossey, MD
              br
              | Author:
              em<> The Extraordinary Healing Power of Ordinary Things;
                | Reinventing Medicine; Healing Words
        .w3-third.w3-container
          h4 For Family Caregivers
          .w3-card-4.polaroid style="max-width:180px"
            img alt="Heart of Healing" src="images/heart-of-healing-180.jpg" style="width:100%"
            .container.w3-padding-tiny
              p Heart of Healing
      .w3-row.w3-padding-32
        .w3-twothird.w3-container
          h2 Review
          .w3-card-4.box2
            p.ital
              | 'Care for the Journey' is a powerful reminder that healthcare is a mission, not
              | just a business, and that the healing professions are a calling, not just a job. On every single track,
              | the message and the music sent a tingle up my spine. It's a message that's never been more important
              | than it is today. This is a masterwork, and a fitting gift for anyone who is privileged to have the
              | title of caregiver.
            p style="text-align: right"
              b Jayne Felgen, RN, MPA
              br
              | President, Creative Healthcare Management
        #signup.w3-third.w3-container
          .w3-card-4.box1
            h3
              | Sign up for our
              a< href="http://eepurl.com/bvGpK5"
                em NewsFlash
            p Safe, secure, easy opt-out
      footer#myFooter
        .w3-container.w3-theme-l1
          p Copyright &copy; Companion Arts 2016. Companion Arts&trade; and Care for the Journey&trade; are trademarks of Companion Arts.
          p Companion Arts is a 501(c)(3) nonprofit dedicated to helping family and professional caregivers.
      /! END MAIN
    javascript:
      /! Script to open and close the sidenav /
      (function w3_open() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "block";
        document.getElementsByClassName("w3-overlay")[0].style.display = "block";
      })
      (function w3_close() {
        document.getElementsByClassName("w3-sidenav")[0].style.display = "none";
        document.getElementsByClassName("w3-overlay")[0].style.display = "none";
      });
